{% load postal_tags %}
<html>
<head>
<script src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
{% if result %}
<p>You Submitted:</p>
<p>{{result|safe}}</p>
{% endif %}
<form method="POST" action="">
{% csrf_token %}
{{form.as_p}}
<script type="text/javascript">
$.fn.monitor_country_change = function(country_selector){
        var holder = this;
        $(country_selector).live('change', function() {
            var form = $(this).closest('form');
            change_form(form, holder);
        });
}

var change_form = function(form, holder) {
    $.ajax({
        type: 'GET',
        url: "{% url postal-api-country %}",
        cache: false,
        data: $(form).serialize(),
        success: function(data) {
            $('#id_line1').parent().html('<label for="id_line1">' + data.line1.label + ':</label> ' + data.line1.widget);
            $('#id_line2').parent().html('<label for="id_line2">' + data.line2.label + ':</label> ' + data.line2.widget);
            $('#id_city').parent().html('<label for="id_city">' + data.city.label + ':</label> ' + data.city.widget);
            $('#id_state').parent().html('<label for="id_state">' + data.state.label + ':</label> ' + data.state.widget);
            
            if (data.code) {
              $('#id_code').parent().html('<label for="id_code">' + data.code.label + ':</label> ' + data.code.widget);
              $('#id_code').parent().show();              
            } else {
              $('#id_code').parent().hide();
            }
        },
        error: function(response) {
            alert(response);
        }
    });
}

$(function () {
  $('form').monitor_country_change('#id_country');    
});

</script>
<input type="submit"/>
</form>
</body>
</html>