[buildout]
parts =
	 django
	 django-countries

develop = .
eggs = django-postal

[django-countries]
recipe=gocept.download
url = http://django-countries.googlecode.com/files/django_countries_0.1-r3.zip
md5sum = 6d405ca615e64fa0d1507e30a11cb7c1

#[django-countries]
#recipe = infrae.subversion
#urls = http://django-countries.googlecode.com/svn/trunk/ django-countries


[django]
recipe = djangorecipe
version = 1.1.1
project = postal
projectegg = postal
settings = testsettings
test = postal
eggs = 
	${buildout:eggs}
    django-debug-toolbar
    ipdb
    pysqlite
    south
extra-paths =
        ${django-countries:location}
